@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* check */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.left-links,
.right-links {
  display: flex;
  justify-content: space-between;
}

/* check */
.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 11px;
}

/* check */
.footer {
  background-color: #eeeeee;
}

/* check */
a {
  text-decoration: none;
  color: gray;
}

/* check */
ul,
li {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin: 0px;
  padding: 0px;
}

/* check */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* check */
button {
  padding: 8px 16px; check
}
